<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    msg: String,
  },
  setup(props) {
    console.log(props.msg);
  },
  mounted() {
    console.log("hello world app mounted");
  },
  data() {
    return {
      message: '',
    };
  },
  methods: {
    setText(text: string) {
      this.message = text;
    },
    getText() {
      if (this.message !== '') {
        return this.message;
      }

      return this.msg;
    },
  },
});
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ getText() }}</h1>
    <h3>
      You’ve successfully created a project with
      <a href="https://vitejs.dev/" target="_blank" rel="noopener">Vite</a> +
      <a href="https://vuejs.org/" target="_blank" rel="noopener">Vue 3</a>.
      What's next<a href="#" @click="setText('no')">?</a>
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
